<div class="panel panel-default">
  <div class="panel-heading">Tableauw des Factures 
    <div class="panel-body">
      <table class="table table-striped">
        <tr>
          <th>id</th><th>Référence</th><th>Date</th><th>Status</th><th>Editer</th><th>Fusionner</th>
        </tr>
        <tr *ngFor="let fact of factures;let i=index">
          <td>{{fact.id}}</td>
          <td>{{fact.ref}}</td>
          <td>{{fact.date}}</td>
          <td>{{fact.statut}}</td>
          <td>
            <button class="btn btn-primary" (click)="getFactureById(fact.id)" style="margin-left: 10px">
              <span >Visuliser</span><mat-icon  color="black"> zoom_in</mat-icon>
            </button>
            <button class="btn btn-danger" (click)="deleteFactureById(fact.id)" style="margin-left: 10px">
              Supprimer <mat-icon>delete_forever</mat-icon>
            </button>
            </td>
          <td>
            <button    [hidden]="isExist"
             (click)="ajouterFusionner(fact.id,i);" style="margin-left: 10px">
              
              
             
               
               <span [hidden]="test(i,j)"> {{i}}Enlever{{j}} <mat-icon>arrow_forward</mat-icon></span>
               <!--  <span *ngIf="isExist">Ajouter <mat-icon>addchart</mat-icon></span> {{i}} {{j}}
               <span *ngIf="(!isExist)  && (i === j)">Enlever <mat-icon>remove-from_queue</mat-icon></span>-->
            </button>
            <button [hidden]="!isExist" (click)="deFusionner(fact.id,i);" > 
              <i [hidden]="test(i,j)">{{i}}Ajouter{{j}}</i>
            </button>

            <button #lastNameInput id={{i}} expand="block" size="large" (click)="test1(day,lastNameInput)" ngDefaultControl 
                       [(ngModel)]="days" [disabled]="checkIfFinnished(day)" >Ajouter</button>
            <button #ref id={{i}} expand="block" size="large" (click)="test2(ref)"  
                    hidden="true">Enlever</button>           

 
          </td>
        </tr>
      </table>
      <div></div>
      <div class="container">
        <ul class="nav nav-pills">
          <li >
            <a  ></a>
          </li>
        </ul>
       </div>

    </div>
  </div>
</div>

<div>
 
</div>
