
<div class="container">
  <div style="border: 1px solid black;" class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item" style="cursor: pointer;">
        <a  routerLink="affichage1">Img avant travaux</a>
      </li>
      <li class="list-group-item">
       <a  routerLink="affichage2">img après travaux</a>
      </li>
      <li class="list-group-item">
        <p>machie</p> 
      </li>
    </ul>
   </div> 
   <div style="border: 1px solid black;" class="col-md-9">
     
    <router-outlet></router-outlet>
   </div>
</div>