ugyugyguug
<div *ngIf="products">
  <div *ngFor="let p of products">
     <div class="col-md-6">
       <div class="panel panel-default">
         <div class="panel-heading">nom</div>
         <div class="panel-body">
           <table>
             <tr>
               <td rowspan="3">
                 <img>
                 <button><span class="glyphicon-edit"></span></button>
               </td>
             </tr>
             <tr>
              <td></td>
               <td>
                  {{p.name}}
               </td>
             </tr>
             <tr>
              <td></td>
              <td>
                 {{p.discription}}
              </td>
            </tr>
           </table>
         </div>
       </div>
     </div>
  </div>
</div>