
<hr>
<div class="mat-elevation-z8">
    &nbsp;&nbsp;
    &nbsp;&nbsp;<mat-form-field>
    <mat-label>Filtrer</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. ium">
</mat-form-field>

<table id="mat_table_chantier" mat-table matSort  [dataSource]="dataSource" 
       class="table table-striped table-hover">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> No. </th>
      <td mat-cell *matCellDef="let chantier" class="text-left"> {{chantier.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center" > Nom </th>
      <td mat-cell *matCellDef="let chantier" class="text-right"> {{chantier.nom}} </td>
    </ng-container>
  
    <ng-container matColumnDef="adress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Adress </th>
      <td mat-cell *matCellDef="let chantier" class="text-right"> {{chantier.adress}} </td>
    </ng-container>

    <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let chantier"> 
            <button (click)="deleteChantier(chantier.id)" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove">Supprimer</span>
             </button>
             <button (click)="updateChantier(chantier.id)" class="btn btn-info" style="margin-left: 10px">Modifier</button>
             <button (click)="chantierDetails(chantier.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

