<div class="container" class="float-right" style="
                                                  display: flex;
                                                  flex-direction:column;
                                                  justify-content: flex-start;
                                                  align-items: flex-start;">
    
    <div style="height: 100px;width: 100px;">
      <img alt="My image name" src="./assets/img/elec.png" style="height: 100;width: 100px;">
    </div>
</div>
<div class="container">
  <nav class="nav navbar-default">
   <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li  routerLinkActive="active">
          <a *ngIf="authservice.isUserLoggedIn()" routerLink="body/bord/formulaire">Tableau de bord</a>
        </li>
          <li  routerLinkActive="active">
            <a *ngIf="authservice.isUserLoggedIn()"  routerLink="body/bord/table">Chantier</a>
        </li>
        <li  routerLinkActive="active">
          <a *ngIf="authservice.isUserLoggedIn()"  routerLink="body/bord/bord">Client</a>
        </li>
        <li  routerLinkActive="active">
          <a   >Historique</a>
        </li>
        <li routerLinkActive="active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
             aria-expanded="false">Dropdown <span class="caret"></span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li  routerLinkActive="active">
          <a *ngIf="!authservice.isUserLoggedIn()"  routerLink="auth/auth">Authentification</a>
        </li>
        <li>
          <!--*ngIf="authservice.isUserLoggedIn()"-->
          <a *ngIf="authservice.isUserLoggedIn()"  routerLink="auth/logout" class="nav-link">LogOut</a>
        </li>
      </ul>
    </div>
 </nav>
</div>