<nav class="nav navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li  routerLinkActive="active">
         <a *ngIf="authservice.isUserLoggedIn()" routerLink="body/bord/formulaire">Formulaire</a>
      </li>
        <li  routerLinkActive="active">
          <a *ngIf="authservice.isUserLoggedIn()"  routerLink="body/bord/table">Table</a>
      </li>
       <li  routerLinkActive="active">
         <a *ngIf="authservice.isUserLoggedIn()"  routerLink="body/bord/bord">table de bord</a>
       </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li  routerLinkActive="active">
        <a *ngIf="!authservice.isUserLoggedIn()"  routerLink="auth/auth">Authentification</a>
      </li>
      <li>
        <!--*ngIf="authservice.isUserLoggedIn()"-->
        <a *ngIf="authservice.isUserLoggedIn()"  routerLink="auth/logout" class="nav-link">LogOut</a>
      </li>
    </ul>
  </div>
</nav>